body {
    padding: 0;
    margin: 0;
    background-color: rgb(37, 37, 37);
}

html,
body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

#scene {
    position: relative;
    width: 450px;
    height: 600px;
    margin: 40px auto;
    overflow: hidden;
    top: -200px;
    border-radius: 5%;
}


#bird {
    background-image: url('./img/noup-removebg-preview.png');
    background-repeat: no-repeat;
    background-size: contain;
    filter: drop-shadow(8px 8px 8px black);
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: 300px;
    left: 40%;
    z-index: 100;
}

#sky {
    width: 100%;
    height: 530px;
    position: absolute;
    top: 0px;
    background-image: url('./img/sky-1.png');
    background-size: contain;
}

#base {
    width: 100%;
    height: 75px;
    position: absolute;
    bottom: 0px;
    background-image: url('./img/base-1.png');
    background-size: contain;
    z-index: 200;
}

#pipe1 {
    position: absolute;
    width: 60px;
    height: 225px;
    background-color: green;
    background-image: url('./img/pipe-1-1.png');
    box-shadow: -8px 0px 20px;
    background-repeat: no-repeat;
    transform: rotate(180deg);
    z-index: 100;
}

#pipe2 {
    position: absolute;
    width: 60px;
    height: 225px;
    bottom: 0px;
    right: 0px;
    background-color: green;
    background-image: url('./img/pipe-1-1.png');
    filter: drop-shadow(8px 8px 8px black);
    background-repeat: no-repeat;
    z-index: 100;
}

.top1 {
    font-size: 4rem;
    color: white;
    font-family: 'Baloo 2', cursive;
}

.scores {
    display: inline-block;
    position: relative;
    top: 300px;
    left: 200px;
}

#toggle {
    cursor: pointer;
    width: 80px;
    height: 80px;
    background-image: url('./img/moon.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    top: -800px;
    left: 1300px;
}

#gameover {
    position: relative;
    top: -850px;
    left: 640px;
    width: 350px;
    height: 250px;
    background-image: url('./img/gameover-1.png');
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 400;
    display: none;
}